@import "./variable.css";
.button {
  outline: none !important;
  border: 0 !important;
  padding: 10px 30px !important;
  border-radius: 6px !important;
  font-weight: 700 !important;
  letter-spacing: 1.4px !important;
}
.btn-blue {
  background-color: var(--blue);
  color: #fff;
  border-radius: 10px !important;
  padding: 10px !important;
}

.btn-blue:hover {
  opacity: 0.8;
}

.btn-dark {
  background-color: #a86e3bc5 ;
  color: #fff;
  padding: 5px 6px;
  border-radius: 1rem;
  border: 2px solid #a86e3bc5;
}
.btn-dark:hover {
  background-color: #fff !important;
  color: #a86e3bc5;
}
.bg-danger:hover {
  background-color: rgb(255, 95, 95) !important;
}
